{% extends "_layouts/cp" %}

{% set title = "Exports" %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ cpUrl('data-export-builder/exports/new') }}">New Export Template</a>
{% endblock %}

{% block content %}
    {% if templates is empty %}
        <div class="zilch">
            <p>No export templates yet.</p>
            <p><a class="btn submit add icon" href="{{ cpUrl('data-export-builder/exports/new') }}">Create your first export template</a></p>
        </div>
    {% else %}
        <div class="tableview">
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Element Type</th>
                        <th>Format</th>
                        <th>Last Run</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                        <tr>
                            <td>
                                <a class="go" href="{{ cpUrl('data-export-builder/exports/' ~ template.id) }}">{{ template.name }}</a>
                                <div class="light code">{{ template.handle }}</div>
                            </td>
                            <td>{{ template.elementType|title }}</td>
                            <td><span class="status green"></span>{{ template.format|upper }}</td>
                            <td>{{ template.lastRunAt ? template.lastRunAt|datetime('short') : 'Never' }}</td>
                            <td class="nowrap rightalign">
                                <a class="btn small" href="{{ cpUrl('data-export-builder/exports/' ~ template.id) }}">Edit</a>
                                <form method="post" action="{{ cpUrl('data-export-builder/exports/' ~ template.id ~ '/run') }}" class="inline">
                                    {{ csrfInput() }}
                                    <button type="submit" class="btn small secondary">Run</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
